<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_key</key>
	<string>8SMVHex7QCQX3AmMRnyOanwAZ</string>
	<key>consumer_secret</key>
	<string>GVxHBUqGnIdbr7BcIM1APQErgI3RGdNEbFBux58vSDvtn5NLRA</string>
</dict>
</plist>
